{% extends "../sub_base.html" %}
{% block title %}User Orders{% endblock %}

{% block sub_content %}

<div class="col-12">
  <h1 class="h2">Your Orders</h1>
</div>
<div class="col-12 d-flex justify-content-between">
  <div>Manage your <b>orders</b> and personal details</div>
</div>
<hr />
{% if orders|length == 0 %}
<div class="col-12">No order placed, <a class="custom-link" href="{% url 'store:store_home' %}"> Shop</a></div>
{%endif %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

 <div class="container">

    {% for order in orders %}
    <div class="row g-3">
      <div class="col-12 p-1 d-flex justify-content-between fw-bold">
        {% if order.saved_later %}
          <p>Pending Order <small class="text-muted">(Saved for later)</small></p>
        {% else %}
          <p>{{ order.ref_no }}
            {% if not order.billing_status %}
              <small class="text-muted">(Unpaid order)</small>
            {% endif %}
          </p>
        {% endif %}
      </div>
      <div class="col-12 bg-light d-flex justify-content-between">
        <div class="d-flex d-flex-inline">
          <div class="pe-3">{{ order.created }}</div>
          {% if not  order.saved_later  %}
          <div class="dropdown">
          <a class="text-reset text-decoration-none dropdown-toggle" href="#" role="link" id="dropdownLink" data-bs-toggle="dropdown" aria-expanded="false">
          Dispacted to 
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          </svg>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownLink">
            <li class="item small">{{order.full_name}}</li>
            <li class="item small">{{order.address1}}</li>
            <li class="item small">{{order.address2}}</li>
            <li class="item small">{{order.post_code}}</li>
          </ul>
          </div>
          {% endif %}
        </div>
        <div class="text-end">
          Total paid: <span class="fw-bold">€{{ order.total_paid }}</span>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
        <div class="d-grid gap-2 ">
          {% if  order.saved_later  %}
          <a class= "btn btn-info btn-block text-center text-white fw-bold w-100" href ="{% url 'orders:order_saved_add' order.id %}" type="button">Add back to basket</a>
          <a class="btn btn-danger btn-block  fw-bold w-100" href ="{% url 'orders:order_saved_delete' order.id %}" type="button">Delete</a>
          {% else %}
          <a class="btn btn-warning text-light" href ="{% url 'chatbox:new' order.id %}" type="button">Problem with order</a>
          {% endif %}
        
        </div>
      </div>
      <div class="col-md-7 col-lg-8 p-0">
        {% for item in order.items.all %}

        <div class="card mb-3 border-0">
          <div class="row g-0">
            <div class="col-md-2 d-none d-md-block">
              <img class="img-fluid" style="width:90px" src="{{item.product.image.url}}" />
            </div>
            <div class="col-md-10">
              <div class="card-body p-1">
                <a class="text-decoration-none" href="{{ item.product.get_absolute_url }}">
                  <p class="card-text small  custom-link">{{item.product|title}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>

        
        {% endfor %}
      </div>
    </div>
    <br>
    <br>
    {% endfor %}
  </div>


{% endblock %}