{% extends '../base.html' %}
{% load static %}
{% block title %}Graphs Dashboard Page{% endblock %}

{% block content %}

<div class="card card-header bg-info text-black my-3">
  Graphs Dashboard 
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 my-3">
    <div class="col">
      <a href="{% url 'graphs:sales_trend' %}"class="text-reset text-decoration-none" role="button" style="max-width: 540px;">
      <div class="card my-card shadow mb-3">
        <div class="row g-0">
          <div class="col-2 position-relative">
            <svg xmlns="http://www.w3.org/2000/svg" class="position-absolute top-50 start-50 translate-middle" width="40" height="40" fill="currentColor"  viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
            </svg>
          </div>
          <div class="col-10">
            <div class="card-body  my-card ps-0 ps-md-1">
              <h1 class="h5">Sales Trend</h1>
              <p class="card-text small text-muted">View, Track Sales</p>
            </div>
          </div>
        </div>
      </div>
      </a>
    </div>
    <div class="col">
      <a href="{% url 'graphs:product_perform' %}" class="text-reset text-decoration-none" role="button" style="max-width: 540px;">
      <div class="card my-card shadow mb-3">
        <div class="row g-0">
          <div class="col-2 position-relative">
            <svg xmlns="http://www.w3.org/2000/svg"  width="40" height="40"  fill="currentColor" class="position-absolute top-50 start-50 translate-middle" viewBox="0 0 16 16">
              <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"/>
            </svg>
          </div>
          <div class="col-10">
            <div class="card-body  my-card ps-0 ps-md-1">
              <h1 class="h5">Performing Product</h1>
              <p class="card-text small text-muted">View, Track Sold Products</p>
            </div>
          </div>
        </div>
      </div>
      </a>
    </div>
    <div class="col">
      <a href="{% url 'graphs:product_stock'%}" class="text-reset text-decoration-none" role="button" style="max-width: 540px;">
      <div class="card my-card  shadow mb-3">
        <div class="row g-0">
          <div class="col-2 position-relative">
            <svg xmlns="http://www.w3.org/2000/svg" class="position-absolute top-50 start-50 translate-middle" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
              <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5zM8.5.015V7.5h7.485A8.001 8.001 0 0 0 8.5.015z"/>
            </svg>
          </div>
          <div class="col-10">
            <div class="card-body ps-0 ps-md-1">
              <h1 class="h5">Product in Stock</h1>
              <p class="card-text small text-muted">View Products in Stock</p>
            </div>
          </div>
        </div>
      </div>
      </a>
    </div>
    <div class="col">

      <a href='{% url "graphs:product_info_per_week" %}' class="text-reset text-decoration-none" role="button" style="max-width: 540px;">
        <div class="card my-card  shadow mb-3">
        <div class="row g-0">
          <div class="col-2 position-relative">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="position-absolute top-50 start-50 translate-middle" viewBox="0 0 16 16">
              <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z"/>
            </svg>
          </div>
          <div class="col-10">
            <div class="card-body ps-0 ps-md-1">
              <h1 class="h5">Product & Order Costs</h1>
              <p class="card-text small text-muted">View, Track Product & Order Costs</p>
             
            </div>
          </div>
        </div>
      </div>
      </a>
    </div>

  </div>

{% endblock %}
