{% extends '../topside.html' %}
{% block title %}Categories Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                Category
            </div>
            <div class="card-body " >
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                
                <div class="orders-row">
                    <input class="btn btn-info btn-block text-center text-white my-3" type="submit" value="Create category"> 
                </div>
                </form>
                
            </div>
        </div>
    </div>
    <div class="card card-body col-md-9">
        <div class="col-md-12">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                    <tr>
                        <th scope="col">Category nº</th>
                        <th scope="col">Category name</th>
                        <th scope="col">Category slug</th>   
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>
                            
                        <a class="custom-link" href="{% url 'inventory:update_category' category.id %}"> {{ category.ref_no}}</a>
                            
                        </td>
                        <td>{{ category.name|slice:":20"|title }}
                            
                        </td>
                        <td>{{ category.slug|slice:":20"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}