{% extends '../base.html' %}
{% block title %}Create Account {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "my-3">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <h1  class="h2">{% if account  %}Update{% else %}Create{% endif %} Account</h1> 
    <form class="inventory-form" method="post">
        <div class="card card-body">
            {% csrf_token %}
            <div class="invoices-row">
                <div class="form-group col-md-12 mb-0">
                    {{ form.email|as_crispy_field }}
                </div>
            </div>
            <div class="invoices-row">
                <div class="form-group col-md-12 mb-0">
                    {{ form.user_name|as_crispy_field }}
                </div>
            </div>
            <div class="invoices-row">
                <div class="form-group col-md-5 mb-0">
                    {{ form.mobile|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
 
                </div>
            </div>
          
            <div class="invoices-row">
                <div class="form-group col-md-5 mb-0">
                    {{ form.password|as_crispy_field }}
                      
                </div>
                <div class="form-group col-md-5 mb-0">
                    {{ form.password2|as_crispy_field }}
                    
                </div>
           
            </div>
           
            <div class="invoices-row">
                <div class="form-group col-md-5 mb-0">
                    {{ form.is_active|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                    {{ form.is_staff|as_crispy_field }}
                </div>
            </div>
            <div class="invoices-row">
                <div class="form-group col-md-12 mb-0" >
                    {{ form.is_superuser|as_crispy_field }}
                </div>
            </div>
        </div>

        <button class="btn_save btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Save changes">
            Save
        </button>
        <a href="{% url 'inventory:accounts' %}" role="button" class="btn btn-secondary w-100">Cancel</a>
    </form>
    {% if account  %}
    <form class="inventory-form" action="{% url 'inventory:delete_account' account.id %}" method="post">
        {% csrf_token %}
        <p class=" h3 pt-4 font-weight-bold">Delete Account</p>
        <p>Are you sure you want to delete the account  ?</p>
        <button type="submit" role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Delete</button>
    </form>
    {% endif %}
</div>
{% endblock %}