{% extends '../base.html' %}
{% block title %}{% if product %}Update{% else %}Create{% endif %} Product {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row my-3">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <h1  class="h2">{% if product %}Update{% else %}Create{% endif %} Product</h1> 
        <form class="inventory-form" method="POST"  enctype="multipart/form-data">
            <div class="card card-body">
                {% csrf_token %}
                <div class="invoices-row">
                    <div class="form-group col-md-5 mb-0 field-readonly">
                        {% if form.instance.pk %}
                            {{ form.ref_no |as_crispy_field}}
                        {% else %}
                        <div class="form-gcus">
                            <label for="id_inv_no">{{ form.ref_no.label }}</label>
                            <input type="text" name="id_inv_no" value='{{ prod_number }}'  class="px-2 rounded border textinput form-control" maxlength="15" readonly="" id="id_inv_no">
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-5 mb-0">
                        {{ form.category|as_crispy_field }}
                    </div>
                </div>
                <div class="invoices-row">
                    <div class="form-group col-md-5 mb-0">
                        {{ form.name|as_crispy_field }}
                    </div>
                    
                    <div  class="form-group col-md-5 mb-0" >
                        {{ form.slug|as_crispy_field }}
                    </div>
                </div>
                <div class="invoices-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ form.description|as_crispy_field }}
                    </div>

                </div>
                <div class="invoices-row">
                    <div class="form-group col-md-5 mb-0">
                        {{ form.sell_price|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-5 mb-0">
                        {{ form.buy_price|as_crispy_field }}
                    </div>
                </div>
                <div class="invoices-row">
                    <div class="form-group col-md-5 mb-0">
                        {{ form.stock_real|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-5 mb-0">
                        {{ form.stock_max|as_crispy_field }}
                    </div>
        

                </div>
                <div class="invoices-row">

                    <div class="form-group col-md-5 mb-0">
                        {{ form.supplier_id|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-5 mb-0">
                        {{ form.image|as_crispy_field }}
                    </div>
                </div> 
                <div class="invoices-row">
                    <div class="form-group col-md-5 mb-0">
                        {{ form.is_active|as_crispy_field }}
                    </div>
                </div>
                {% if product %}
                <div class="col-md-12 mb-0 my-5">
                    <h5 >Other details</h5>
                    <hr>
                    <div class="orders-row my-2">
                        <div class="form-group col-md-5 mb-0">
                            <label for="created">Created at</label><br>
                            <input  name="created" class="w-100 rounded border" value="{{product.created_at }}" readonly>
                        </div>
                        <div class="form-group col-md-5 mb-0">
                            <label for="updated">Updated at</label><br>
                            <input  name="updated" class="w-100 rounded border"value="{{product.updated_at}}" readonly>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
                <button class="btn_save btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Save changes">
                    Save product
                </button>
                <a href="{% url 'inventory:products' %}" role="button" class="btn btn-secondary w-100">Cancel</a>
        </form>
        {% if product %}
        <form class="inventory-form" action="{% url 'inventory:delete_product' product.id %}" method="post">
            {% csrf_token %}
            <p class=" h3 pt-4 font-weight-bold">Delete Products</p>
            <p>Are you sure you want to delete the product ?</p>
            <button type="submit" role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Delete</button>
        </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}