{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Inbox Detail Page{% endblock %}

{% block content %}
<form class="account-form mt-6" method="post" action=".">
    {% csrf_token %}
        <h1 class="h2 my-3">Messages</h1>
        <div class="myDiv">
            {% for message in conversation.messages.all %}
            
                {% if message.created_by == request.user %}
                <div style ="background-color:rgba(6, 191, 237, 0.2); border-radius: 8px;" >
                    <div class="mb-4 pb-2 py-3 mx-3 text-black">
                        <p><strong>You</strong> @ {{ message.created_at }}</p>
                        <p>{{ message.content }}</p>
                    </div>

                </div>
                {% else %}
                <div style ="background-color:rgba(255, 0, 0, 0.2); border-radius: 8px;">
                    <div class="mb-4 pb-2 py-3 mx-3 text-black">
                        <p><strong>{{ message.created_by }}</strong> @ {{ message.created_at }}</p>
                        <p>{{ message.content }}</p>
                    </div>

                </div>
                {% endif %}

               
            {% endfor %}
        </div>

        <div  >
            {{ form|crispy }}
        </div>
    

        <button class="btn btn-info btn-block py-2 mb-6 mt-3 text-white fw-bold w-25 " type="submit" >
            Send
        </button>
    
</form>
{% endblock %}